.filter-panel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
  animation: fadeIn 0.7s ease-in-out;
}

.filter-panel {
  display: flex;
  flex-direction: column;
  width: 70%;
  gap: 20px;
  padding: 30px;
  background: linear-gradient(135deg, #191B22, #2C2F33); 
  outline: #ff6f61 solid 2px;
  outline-offset: -0.3em;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

@keyframes fadeIn {
  from {
      opacity: 0;
  }

  to {
      opacity: 1;
  }
}

.filter-panel__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 15px;
}

.filter-panel__row {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.filter-panel__column {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.filter-panel__label {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  margin-bottom: 7px;
  border-radius: 5px;
  padding: 7px;
  color: #ffffff; 
  font-weight: 700;
  font-size: 16px;
  background: linear-gradient(135deg, #ff6f61, #ff9f97); 
  transition: background 0.3s ease;
}

.filter-panel__label:hover {
  background: linear-gradient(135deg, #ff9f97, #ff6f61); 
}

.filter-panel__input,
.filter-panel__select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ffffff; 
  border-radius: 5px;
  font-size: 14px;
  background-color: #3A3F44; 
  color: #ffffff; 
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}
.filter-panel__select{
  cursor: pointer;
}

.filter-panel__input:focus,
.filter-panel__select:focus {
  outline: none;
  border-color: #ff6f61;
  box-shadow: 0 0 5px rgba(255, 111, 97, 0.5);
}

.filter-panel__radio-group {
  display: flex;
  gap: 10px;
}

.filter-panel__radio-label {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff; 
  font-size: 14px;
}

.filter-panel__radio-label input[type="checkbox"] {
  margin-right: 10px;
  width: 20px;
  height: 20px;
  accent-color: #ff6f61; 
  appearance: none;
  background-color: #3A3F44;
  border: 2px solid #ff6f61;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.filter-panel__radio-label input[type="checkbox"]:checked {
  background-color: #ff6f61;
}

.filter-panel__price-range {
  display: flex;
  gap: 10px;
}

.filter-panel__price-range input {
  flex: 1;
}
